<div class="jumbotron">
  <h1 class="display-4 text-center">Gestion Du Production</h1>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-echelle-add" data-toggle="tab" href="#nav-tab" role="role" aria-controls="nav-home" aria-selected="true">Creation</a>
  <a class="nav-item nav-link" id="nav-echelle-get" data-toggle="tab" href="#nav-get" role="tab" aria-controls="nav-contact" aria-selected="true">Synthése</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-echelle-add"><app-production-create></app-production-create></div>
<div class="tab-pane fade" id="nav-get" role="tabpanel" aria-labelledby="nav-echelle-get"><app-productions-list></app-productions-list></div>
</div>


